{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

{% if error %}
  <div class="alert alert-danger Alert" role="alert" style="transition: 0.3s ease-in-out; text-align: center; width: 15%; position: absolute; top: 18%; left: 5%;">
      {{ error }}
  </div>
{% endif %}
  <h2 style="text-align: center; color: #002D62; margin-top: 3%; padding-top: 6%;">Login</h2>
  <form action="/login" method="post" style="margin-bottom: 5%;">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" name="email" autofocus required/>
        <label class="form-label" for="form2Example1">Email address</label>
      </div>
    
      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" name="password" autofocus required/>
        <label class="form-label" for="form2Example2">Password</label>
      </div>
    
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4" style="background-color: rgb(69, 141, 82); border-color: rgb(69, 141, 82);">log in</button>
    
      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a href="/register" style="color: rgb(6, 91, 23);">Register</a></p>
      </div>
  </form>

{% endblock %}